<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos de OXXO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Tabla de Productos y Precios de la Tienda OXXO</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Producto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto['id'] }}</td>
                <td>{{ producto['nombre'] }}</td>
                <td>{{ producto['precio'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/dashboard" class="btn">Dashboard</a>
    <a href="/new_dashboard" class="btn">New Dashboard</a>
</body>
</html>
